{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ContrastControl{% endblock %}
{% block content %}
        <form action="/bp_hqh/" method="post">
{#            <div class="container-fluid" id="container" style="height: 20%">#}
	    <div class="row-fluid">
		    <div  style="float:left" >
                <fieldset>
                    隐藏层神经元个数<br /><input type="text" name="in1"/>
                </fieldset>
		    </div>
		    <div  style="float:left" >
				    <fieldset>
					    隐藏层层数<br /><input type="text" name="in2"/>
				    </fieldset>
		    </div>
            <div  style="float:left" >
				    <fieldset>
					    训练次数<br /><input type="text" name="in3"/>
				    </fieldset>
		    </div>
            <div  style="float:left" >
				    <fieldset>
					    学习率<br /><input type="text" name="in4"/>
				    </fieldset>
		    </div>
	    </div>

        <form class="form-horizontal">
            <fieldset>
                <div class="control-group" style="float: left; margin: 10px">
                    <!-- Select Basic -->
                    <label class="control-label">拟合内容</label>
                        <div class="controls">
                            <select class="input-xlarge" name="func">
                              <option value="1">sin(x)</option>
                              <option value="3">sin(x1)+cos(x2)</option>
                              <option value="4">x^2</option>
                            </select>
                        </div>
                </div>
                <div class="control-group" style="float: left; margin: 10px">
                    <!-- Select Basic -->
                    <label class="control-label">激活函数</label>
                        <div class="controls" >
                            <select class="input-xlarge" name="act">
                              <option value="1">sigmoid</option>
                              <option value="2">relu</option>
{#                                <option value="3">tahn</option>#}
{#                              <option value="3">sin(x)+cos(y)</option>#}
                            </select>
                        </div>

                </div>
                <div class="control-group" style="float: left">
                    <label class="control-label"></label>
                        <!-- Button -->
                        <div class="controls" >
                            <button class="btn btn-success" type="submit" name="bu1">拟合</button>
                            <button class="btn btn-success" type="button" id="bu2">show</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </form>
    <h1></h1>
	<div  id="jj">

	</div>
    <div id="insert"> sdasd</div>


{#<script src="../static/js/dist/echarts.min.js"></script>#}
<script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/plotly.min.js"></script>
{#    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>#}
<script type="text/javascript">

    $('#bu1').click(function () {
       var data = {'hid_num': document.getElementById('in1').value, 'hid_lay': document.getElementById('in2').value, 'funcc': document.getElementById('func').value, 'actc': document.getElementById('act').value, 'bs':document.getElementById('in3').value, 'lr':document.getElementById('in4').value};
       {#console.log(data);#}
       $.ajax({
           url: '/bp_hqh/',
           type: 'GET',
           data: data,
           traditional: true,
           dataType: 'JSON',
        }
        );
    });

    var ii = 0;
    $('#bu2').click(function () {
       {#var data = {'hid_num': document.getElementById('in1').value, 'hid_lay': document.getElementById('in2').value, 'funcc': document.getElementById('func').value, 'actc': document.getElementById('act').value, 'bs':document.getElementById('in3').value, 'lr':document.getElementById('in4').value};#}
       {#console.log(data);#}
       var p = ++ii;
       console.log(p);
       $.ajax({
           url: '/bp_hqh/',
           type: 'GET',
           data: 's',
           traditional: true,
           dataType: 'JSON',
           success: function (arg) {

               var inpp = document.getElementById('insert');
               var ls = document.getElementById('jj');
               var dat = arg["url"]

               var str="";

               for(var i=0; i<Object.keys(dat).length;i++){
                   console.log(dat[i]);
                   str+='<img src=' + dat[i] + '/>'
               }
               inpp.innerHTML = str;
           }
        }
        );
    });
    </script>

{% endblock %}